.tile{
    width: 75px;
    height: 75px;
    display: grid;
    place-content: center;

}

.tile .chess-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.black-tile{
    background-color: rgb(43, 2, 55);

}

.white-tile{
    background-color: #f0d9b5;
}

.tile img{
    width: 60x;
    height: 60px;
}

